# Advance Function

In [481]:
print(salary)

4567890

In [5]:
# *args,
# **kwargs
# return vs print
# Nested Func
# Scope in python
# recursion:- recursive func
# lambda func:- map, filter, reduce
# generator:- yield
# decorator

In [101]:
def my_summ(data):
    '''This is My summ func'''
    result = 0
    for i in data:
        result += i
    return result

In [103]:
data = [23,54,5,3454,6,546,5]


sum(data)

4093

In [107]:
my_summ(data)

4093

In [111]:
def add(a,b):
    return a+b

In [170]:
add(10,4,4)

TypeError: add() takes 2 positional arguments but 3 were given

In [123]:
# *args:- arguments

In [125]:
print(34,5,'Jatin')

34 5 Jatin

In [157]:
def add_any(*args):
    result = 0
    for i in args:
        result += i
    return result

In [159]:
add_any(12,23,35,46,56,46)

218

In [162]:
# **kwargs
# default argument/arguments

In [164]:
def introduction(name = None,age = 18, address = None, classs = None):
    print(f'Your Name is {name}')
    print(f'Your Age is {age}')
    print(f'Your Address is {address}')
    print(f'Your Class is {classs}')

In [184]:
introduction(name = 'hritik',address = 'Gr Noida',classs=12,age = 23,sec = 'A')
# keyword positional arguments

TypeError: introduction() got an unexpected keyword argument 'sec'

In [186]:
# DRY

In [190]:
# print(2)
# print(4)
# print(6)
# print(8)
# print(10)
# print(12)
# print(14)
# print(16)
# print(18)
# print(20)

In [192]:
for i in range(1,11):
    print(2*i)

2
4
6
8
10
12
14
16
18
20

In [236]:
def new_intro(**kwargs):
    for i,j in kwargs.items():
        print(f'Your {i} is {j}')

In [242]:
new_intro(Name= 'Rohit',Age = '23',Address = 'Noida',sec = 'A',Salary = 234567,fees = 3456)

Your Name is Rohit
Your Age is 23
Your Address is Noida
Your sec is A
Your Salary is 234567
Your fees is 3456

In [323]:
import pandas as pd
def into_table(**kwargs):
    if type(list(kwargs.values())[0]) in [list,tuple]:
        return pd.DataFrame(kwargs)
    else:
        return pd.DataFrame(kwargs,index = [1])

In [326]:
into_table(Name = ('Mohan','Karan'),Age = [12,23],Sec = ['A','B'],Salary = [23456,345678])

    Name  Age Sec  Salary
0  Mohan   12   A   23456
1  Karan   23   B  345678

In [328]:
into_table(Name = 'Mohan',Age = 23)

    Name  Age
1  Mohan   23

In [330]:
# Nested Func
# Scope in python

In [332]:
# Nested Func:- function inside the func

In [354]:
def a():
    print('I am a')

    def b():
        print('I am b')
    b()

In [356]:
a()

I am a
I am b

In [359]:
a()

I am a
I am b

In [409]:
def a():
    print('I am a')

    def b():
        print('I am b')

        def c():
            print('I am c')

        c()
    b()
    def d():
        print('I am d')
       
    d() 
    print('Hello World')

In [411]:
a()

I am a
I am b
I am c
I am d
Hello World

In [416]:
# Scope in python

In [418]:
# variable scope in python function

In [483]:
salary = 4567890  # Global Variable
def greet(name):
    agee = 18  # local variable
    sec = 'A'
    institute_name = 'Grastech'
    print(f'Hello {name}')
    print(institute_name)

In [471]:
greet('Komal')

Hello Komal
Grastech

In [458]:

print(agee)

NameError: name 'agee' is not defined

In [463]:
print(sec)

NameError: name 'sec' is not defined

In [467]:
print(institute_name)

NameError: name 'institute_name' is not defined

In [479]:
print(salary)

4567890

In [487]:
fees = 34567
def intro():
    print('This is Grastech')
    print(f'Fees of DA is : {fees}')

In [493]:
fees = 34
intro()

This is Grastech
Fees of DA is : 34

In [515]:
def vip():
    global who,address
    who = 'Ambani'
    address = 'Noida'
    print(f'{who} is VVIP!!')

In [517]:
vip()

Ambani is VVIP!!

In [519]:
print(who)

Ambani

In [521]:
print(address)

Noida

In [549]:
address = 'Gr Noida'
print(address)

Gr Noida

In [551]:
vip()

Ambani is VVIP!!

In [553]:
print(address)

Noida

In [555]:
# generator:- yield
# decorator

In [557]:
def give_name():
    yield 'Noida'
    yield 'Aman'
    yield 'Karan'
    yield 'Mohan'
    yield 'Ajay'

In [559]:
name = give_name()

In [561]:
name

In [575]:
# next(name)

In [581]:
data = ((i,i**2) for i in range(12345634567897890))

In [585]:
data

In [601]:
next(data)

(7, 49)

In [603]:
type(data)

generator

In [605]:
type(name)

generator