In [3]:
data1 = [23,543,5,344,56,67]
data2 = [34,5,6,43,56,76,78]
data3 = [34,5,675,5432,56,7]

common = []

for i in data1:
    for j in data2:
        for k in data3:
            if i == j == k:
                # print(i)
                common.append(i)
print('Common Data',common)

Common Data [5, 56]

# Break, Continue and pass

In [7]:
# Break:- code execution stop kar dena

In [18]:
students = ['karan','harry','akshay','gagan','ravi']

for i in students:
    if i == 'gagan':
        break
    else:
        print(f'Hello {i}, How are You??')

Hello karan, How are You??
Hello harry, How are You??
Hello akshay, How are You??

In [23]:
students = ['karan','harry','akshay','gagan','ravi']

for i in students:
    if i == 'gagan':
        break
        print('Main nahin !!chalunga')
    else:
        print(f'Hello {i}, How are You??')

print('Yes')

Hello karan, How are You??
Hello harry, How are You??
Hello akshay, How are You??
Yes

In [26]:
students = ['karan','harry','akshay','gagan','ravi']

for i in students:
    if i == 'gagan':
        print('Main!!chalunga')
        break
    else:
        print(f'Hello {i}, How are You??')

print('Yes')

Hello karan, How are You??
Hello harry, How are You??
Hello akshay, How are You??
Main!!chalunga
Yes

In [29]:
# continue

In [44]:
students = ['karan','harry','akshay','gagan','ravi']

for i in students:
    if i == 'akshay':
        continue  # skip this one iteration
        print('Hello')
    else:
        print(f'Hello {i}, How are You??')

Hello karan, How are You??
Hello harry, How are You??
Hello gagan, How are You??
Hello ravi, How are You??

In [34]:
# pass:- 5 star:- kuch na kar ke dekho

In [38]:
for i in range(1,11):
    pass

In [48]:
students = ['karan','harry','bomb','gagan','ravi']

for i in students:
    if i == 'bomb':
        print('Bomb mil gaya!!ðŸ’¥')
        break
    else:
        pass # skip this code
        print(f'Hello {i}')

Hello karan
Hello harry
Bomb mil gaya!!ðŸ’¥

In [60]:
age = 21

if age >= 18:
    pass
    print('Hello Buddy!!')
else:
    print('STOP!!')

Hello Buddy!!

In [76]:
age = 21

if age >= 18:
    ...
else:
    print('STOP!!')

In [81]:
# one liner for loop
# Part 1:- sasta
# part 2:- List comphrension with for loop

In [85]:
data = [3,45,534,456,457,56,7]
even = []

for i in data:
    if i % 2 == 0:
        even.append(i)

In [95]:
data = ['Jatin','joker','Ravi']
for i in data:print(i)

Jatin
joker
Ravi

In [101]:
# for i in data:if i % 2 == 0:even.append(i)

In [103]:
# List ke andar for loop chalana

In [115]:
data = [5,6,7]
ans = [(i,i**2) for i in data]
print(ans)

[(5, 25), (6, 36), (7, 49)]

In [119]:
data = [3,4,534,456,457,56,7]
even = [i for i in data if i%2 == 0]
print(even)

[4, 534, 456, 56]

In [121]:
data = [3,4,534,456,457,56,7]
odd = [i for i in data if i%2 != 0]
print(odd)

[3, 457, 7]

In [127]:
companies = ['ola','uber','kia','tata','tcs','relience','adani']

linkedin_data = ['#'+i for i in companies]
print(linkedin_data)

['#ola', '#uber', '#kia', '#tata', '#tcs', '#relience', '#adani']

In [131]:
companies = ['ola','uber','kia','tata','tcs','relience','adani']
print(['@'+i for i in companies])

['@ola', '@uber', '@kia', '@tata', '@tcs', '@relience', '@adani']