In [1]:
# Binary File Handling
# With multithreading
# requests
# Web scraping :- topic
# OPPS:- Database connectivity

In [3]:
# https://picsum.photos/1280/720

In [5]:
import requests as r
print('done')

done

In [13]:
def get_image(name):
    url = '''https://picsum.photos/1280/720'''
    img_data = r.get(url).content
    with open(f"C:\\Users\\salma\\OneDrive\\Desktop\\Random_pics\\img_{name}.jpg",'wb+') as f:
        f.write(img_data )

In [21]:
get_image(2)

In [23]:
for i in range(10):
    get_image(i)

In [25]:
6000/60

100.0

In [27]:
import time
start_time = time.time()
for i in range(1,11):
    get_image(i)
end_time = time.time()
print('Time Taken: ',end_time - start_time)

Time Taken:  13.033050060272217

In [29]:
import threading as th
print('Done')

Done

In [45]:
import time
start_time = time.time()

all_threads = []

for i in range(1,1001):
    thread = th.Thread(target=get_image,args=[i])
    all_threads.append(thread)

for j in all_threads:
    j.start()


for k in all_threads:
    k.join()
    
end_time = time.time()
print('Time Taken: ',end_time - start_time)

Time Taken:  18.234673738479614

In [47]:
print(dir(r))

['ConnectTimeout', 'ConnectionError', 'DependencyWarning', 'FileModeWarning', 'HTTPError', 'JSONDecodeError', 'NullHandler', 'PreparedRequest', 'ReadTimeout', 'Request', 'RequestException', 'RequestsDependencyWarning', 'Response', 'Session', 'Timeout', 'TooManyRedirects', 'URLRequired', '__author__', '__author_email__', '__build__', '__builtins__', '__cached__', '__cake__', '__copyright__', '__description__', '__doc__', '__file__', '__license__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__title__', '__url__', '__version__', '_check_cryptography', '_internal_utils', 'adapters', 'api', 'auth', 'certs', 'chardet_version', 'charset_normalizer_version', 'check_compatibility', 'codes', 'compat', 'cookies', 'delete', 'exceptions', 'get', 'head', 'hooks', 'logging', 'models', 'options', 'packages', 'patch', 'post', 'put', 'request', 'session', 'sessions', 'ssl', 'status_codes', 'structures', 'urllib3', 'utils', 'warnings']

# WebScraping

In [63]:
# pip install beautifulsoup4

In [61]:
# pip install selenium

In [1]:
import requests as r
from bs4 import BeautifulSoup
import selenium
print('Done')

Done

In [2]:
# free Basic:- covid data wikipedia

In [3]:
url = '''https://en.wikipedia.org/wiki/COVID-19_pandemic_by_country_and_territory'''
html_code = r.get(url).text

In [4]:
soup = BeautifulSoup(html_code,'html.parser')

In [ ]:
# print(soup.prettify())

In [29]:
all_rows = []
col = []
for i,j in enumerate(soup.find_all('tr')):
    if 45<=i<=284:
        data = j.text.splitlines()
        while '' in data:
            data.remove('')
        if i == 45:
            col.append(data)
        else:
            all_rows.append(data)

import pandas as pd
table = pd.DataFrame(all_rows,columns=col)
table

,Country,Deaths / million,Deaths,Cases
0,World[a],887,"7,088,744","777,384,606"
1,Peru,"6,601","220,994","4,528,708"
2,Bulgaria,"5,679","38,765","1,338,348"
3,North Macedonia,"5,428","9,990","352,060"
4,Bosnia and Herzegovina,"5,118","16,404","404,142"
...,...,...,...,...
234,"Saint Helena, Ascension and Tristan da Cunha",0,0,"2,166"
235,Pitcairn Islands,0,0,4
236,Tokelau,0,0,80
237,North Korea,0,0,0
238,Turkmenistan,0,0,0