# File Handling

# code :- file handle:- 
# Types of files:-
- 1.Textual File
      - Word, form, Notepad open, No software required, .py, .java, .c, c++, html, .css, .js, .php
  - .csv, .tsv, .xml, .json
    - user can read and write file easily in notepad

- 2.Binary File:
    -     photo:- .png, .jpg
    -   audio:- .mp3, 
    -   video:- .mp4, .mkv, .3gp, .4k
    -   pdf:- .pdf
    -   word:- .doc
    -   excel:- .xlsx
    -   software:- .exe, .dll, .apk, .zip, .tar
    -   read or write:- software

In [9]:
# Operations:- read, write, copy, delete, new data write, old data delete

In [64]:
file = open("C:\\Users\\salma\\OneDrive\\Desktop\\emp_ka_details.csv")
print('done')

done

In [66]:
print(file.read())

emp_id,emp_name,salary,address
101,Akshay,34567,Noida
102,Vippin,44567,"Gr Noida"
103,Jatin,36567,"Noida Extn"
104,Karan,24567,Delhi
105,Gaurav,84567,Gr Noida

In [92]:
file = open("C:\\Users\\salma\\OneDrive\\Desktop\\emp_ka_details.csv")
print('done')

done

In [94]:
#readline

In [96]:
print(file.readline())

emp_id,emp_name,salary,address

In [112]:
# readlines
file = open("C:\\Users\\salma\\OneDrive\\Desktop\\emp_ka_details.csv")
print('done')

done

In [114]:
for line in file.readlines():
    print(line)

emp_id,emp_name,salary,address

101,Akshay,34567,Noida

102,Vippin,44567,"Gr Noida"

103,Jatin,36567,"Noida Extn"

104,Karan,24567,Delhi

105,Gaurav,84567,Gr Noida

In [118]:
# open:- by-default:-= mode:- read

In [120]:
# seek
file = open("C:\\Users\\salma\\OneDrive\\Desktop\\emp_ka_details.csv")
print('done')

done

In [142]:
file.seek(0)
print(file.read())

emp_id,emp_name,salary,address
101,Akshay,34567,Noida
102,Vippin,44567,"Gr Noida"
103,Jatin,36567,"Noida Extn"
104,Karan,24567,Delhi
105,Gaurav,84567,Gr Noida

In [148]:
file.close()
print('Done')

Done

In [154]:
file.read()

ValueError: I/O operation on closed file.

In [144]:
# write:
# new file
# existing file append

In [146]:
# new file

In [156]:
f = open('hritik.py',mode = 'w')
print('done')

done

In [158]:
f.write('We are in Grastech\n')
f.write('We are learning Python\n')
f.write('This is File Handling Topic\n')
f.write('File has been created successfully!!\n')
print('done')

done

In [160]:
f.close()
print('Done')

Done

In [162]:
code = '''a = 2
b = 3
c = a + b
print("code executed successfully!!",c)'''

print(code)

a = 2
b = 3
c = a + b
print("code executed successfully!!",c)

In [164]:
f = open('hritik.py',mode = 'w')
print('done')

done

In [166]:
f.write(code)
f.close()
print('Done')

Done

In [168]:
execfile('hritik.py')

code executed successfully!! 5

In [190]:
data = '''Name,Age,Course,Address,Fees
Aman,23,DA,Noida,-2500
Ajay,22,DS,Gr Noida,-8900
Karan,21,BA,Delhi,-9000
Akshay,18,Web Development,Pune,-1000'''
# data = 'Hello'
f = open(r"C:\Users\salma\OneDrive\Desktop\Practice_data\students.csv",mode = 'w')
f.write(data)
f.close()
print('File Created Successfully!!')

File Created Successfully!!

In [176]:
# old file new data kaise append kare??

In [178]:
# mode:- 'append', 'a'

In [194]:
file = open(r"C:\Users\salma\OneDrive\Desktop\Practice_data\students.csv",mode = 'a')
data = '''\nAkki Bhai,50,AI,Pune,-10000'''

file.write(data)
file.close()
print('data inserted successfully!!')

data inserted successfully!!

In [212]:
cols = int(input('Enter number of columns you want!!: '))
headers = ''

for i in range(cols):
    col = input(f'Enter col name {i+1}: ')
    headers += col + ','
headers = headers[:-1]
all_cols = headers.split(',')

Enter number of columns you want!!:  5
Enter col name 1:  Sno
Enter col name 2:  Name
Enter col name 3:  Age
Enter col name 4:  Address
Enter col name 5:  Course

In [214]:
print(headers)

Sno,Name,Age,Address,Course

In [224]:
all_rows = ''
records = 3
for j in range(records):
    for i in all_cols:
        row = input(f'Enter your {i}: ')
        all_rows+= row + ','
    all_rows = all_rows[:-1]+'\n'
    print('Record Inserted Successfully!!')
    display(clear=True)

print(all_rows)

6,Amit,28,Noida,DA
7,Hritik,24,Noida,DS
8,Mohit,27,Delhi,AI

In [220]:
final_data = headers + '\n' + all_rows
print(final_data)

Sno,Name,Age,Address,Course
1,Ajay,23,Noidfa,DA
2,Komal,23,Delhi,BA
3,Harry,21,Delhi,DS
4,Mohan,34,gr Noida,Web Development
5,Jatin,20,Noida,DA

In [226]:
f = open(r"C:\Users\salma\OneDrive\Desktop\Practice_data\students_database.csv",mode = 'a')
f.write(all_rows)
f.close()
print('records added  Successfully!!')

records added  Successfully!!

In [237]:
# copy paste ka code

In [229]:
f1 = open(r"C:\Users\salma\OneDrive\Desktop\Bank_details.csv")
bank_ka_sara_data = f1.read()
f1.close()

f2 = open(r"C:\Users\salma\OneDrive\Desktop\Practice_data\bank_ka_copy.csv",mode = 'w')
f2.write(bank_ka_sara_data)
f2.close()
print('Task completed Successfully!!')

Task completed Successfully!!

In [233]:
# context manager

In [235]:
with open(r"C:\Users\salma\OneDrive\Desktop\Bank_details.csv") as f:
    print(f.read())

SNO,Transaction_Date_Time,Amount,debit_credit_remarks,Remarks
1,"2025-02-04 12:01:11",2000,Debit,Fees
2,"2025-02-04 12:01:11",100,Credit,"Stock Dividend"
3,"2025-02-04 12:01:11",10000,Debit,Rent
4,"2025-02-04 12:01:11",50000,Credit,Salary
5,"2025-02-04 12:03:03",2500,Debit,Party
6,"2025-02-04 12:03:17",1500,Debit,Petrol
7,"2025-02-04 12:03:23",4500,Debit,Fees
8,"2025-02-04 12:03:30",13000,Debit,Bill
9,"2025-02-04 12:03:38",12500,Credit,Bonus

In [239]:
with open(r"C:\Users\salma\OneDrive\Desktop\Bank_details.csv") as f:
    with open(r"C:\Users\salma\OneDrive\Desktop\Practice_data\duplicate.csv",mode = 'w') as nf:
        nf.write(f.read())
print('Done')

Done

In [241]:
with open(r"C:\Users\salma\Downloads\shinchan.jpg",mode = 'rb') as file:
    data = file.read()

In [245]:
type(data)

bytes

In [249]:
with open(r"C:\Users\salma\OneDrive\Desktop\Practice_data\shinchan.jpg",mode = 'wb') as f:
    f.write(data)
print('Copy created')

Copy created

In [271]:
url = '''https://bsmedia.business-standard.com/_media/bs/img/article/2025-02/22/full/1740224717-2631.jpg'''
import requests
data = requests.get(url).content
with open(r"C:\Users\salma\OneDrive\Desktop\Practice_data\india_vs_pak.jpg",mode = 'wb') as f:
    f.write(data)
print('Done')

Done